.detail-img {
    width: 150px;
    height: 150px;
}
.icon {
    margin-top: 60px;
    font-size:  14px;
}
.icon-down {
    margin-top: 60px;
    font-size:  14px;
    margin-right: 130px;
}
.title-sup {
    display: flex;
    width: 20px;
}
.remove {
    margin-top: 60px;
    font-size:  20px;

}
