.product {
    padding-top: 100px;
  }
  
  .vertical-left {
    border-bottom: 1px thick black;
    margin-left: 620px;
    width: 200px;
    margin-bottom: 20px;
  }
  
  .vertical-right {
    border-bottom: 1px thick black;
    margin-left: 620px;
    width: 200px;
    margin-top: 20px;
  }
  
  .title {
    font-weight: lighter;
  }
  
  .title-product {
    padding-top: 50px;
  }